#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.reviewer {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.review-form {
    background-color: var(--color-fill-main);
}

.review-summary {
    background-color: var(--color-text-main);
}
