.rus--glow {
    animation: rainbow linear 50s infinite;
    background: linear-gradient(
        var(--bs-blue),
        var(--bs-indigo),
        var(--bs-purple),
        var(--bs-pink),
        var(--bs-red),
        var(--bs-orange),
        var(--bs-yellow),
        var(--bs-green),
        var(--bs-teal),
        var(--bs-cyan)
    );
    color: transparent;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.007em #222;
}

@keyframes rainbow {
    100% {
        background-position: 0 30em;
    }
}
