@page
@model Calculator.CalculatorSubmitPageModel
@{
    ViewData["Title"] = "";
}

<div class="text text-center">
    <h1 class="display-6">calculate
        <strong>+</strong>,
        <strong>-</strong>,
        <strong>*</strong>,
        <strong>/</strong>
        with
    </h1>
    <h2 class="rus--glow">visualization</h2>
</div>

<partial name="Calculator/CalculatorSubmit" />
