@page
@using VisualCalc.UI.Components.Calculator.InputForm
@using VisualCalc.UI.Components.Text
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text text-center">
    <h1 class="display-6">
        do
        <strong>
            +
            -
            *
            /
        </strong>
        with
    </h1>
    <h2 class="text--glow">visualization</h2>
</div>

<div class="container-fluid container-flex">
    <!--TODO: why rerender twice with ServerPrerendered?-->
    <component type="typeof(CalcInputForm)" render-mode="Server" />
</div>
