.text--glow {
    animation: rainbow linear 50s infinite;
    background: linear-gradient(
        var(--bs-blue),
        var(--bs-indigo),
        var(--bs-purple),
        var(--bs-pink),
        var(--bs-red),
        var(--bs-orange),
        var(--bs-yellow),
        var(--bs-green),
        var(--bs-teal),
        var(--bs-cyan)
    );
    color: transparent;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.007em #222;
}

@keyframes rainbow {
    100% {
        background-position: 0 30em;
    }
}

.container {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 100%;
    justify-content: center;
}

.text {
    font-weight: 900;
}

.text--animated {
    color: var(--sub-color);
    position: relative;
}

.text--animated::after {
    background: var(--bg-color);
    border-left: 2px solid var(--caret-color);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    animation: typing 3.5s ease-in-out infinite;
}

@keyframes typing {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}
