<footer class="footer">
    <div class="links mx-auto">

        <a href="https://github.com/illusior/practice-tl" class="textButton">
            <i class="fas fa-solid fa-code"></i>
            <div class="text">Github</div>
        </a>

        <a href="https://t.me/rafailgaz" class="textButton">
            <i class="fa-brands fa-telegram"></i>
            <div class="text">Author's telegram</div>
        </a>

    </div>
</footer>
