:root {
    --font: 'Lexend Deca';
}

* {
    font-family: var(--font), sans-serif;
}

*, body {
    background: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
}

body > div.container {
    flex: 1;
    display: flex;
    min-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.text {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-block-end: unset;
    margin-block-start: unset;
    margin-top: -0.2em;
    position: relative;
    transition: color .25s;
}

.textButton {
    align-items: baseline;
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
    width: max-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::[type="number"] {
    -moz-appearance: textfield;
}
